<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div id="content-wrap">
                    <h1>Edit Room</h1>
                    <!-- ouput error message if one exists -->
                    <% if (errorMessage) { %>
                        <div class="user-message user-message--error">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                            <!-- remove html form validation with no validate to check server side validation -->
                            <form class="product-form"
                                action="/admin/<% if (editing) { %>edit-room<% } else { %>add-room<% } %>"
                                method="POST" novalidate enctype="multipart/form-data">
                                <div class="form-control">
                                    <label for="name">Name of Room</label>
                                    <input
                                        class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>"
                                        type="text" name="name" id="name"
                                        value="<% if (editing || hasError) { %><%= room.name %><% } %>">
                                </div>
                                <div class="form-control">
                                    <label for="image">Image of Room</label>
                                    <input type="file" name="image" id="image" >
                                </div>

                                <div class="form-control">
                                    <label for="description">Description of Room</label>
                                    <textarea
                                        class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                                        name="description" id="description"
                                        rows="5"><% if (editing || hasError) { %><%= room.description %><% } %></textarea>
                                </div>
                                <% if (editing) { %>
                                    <input type="hidden" value="<%= room._id %>" name="roomId">
                                    <% } %>

                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">
                                            <% if (editing) { %>Update Room<% } else { %>Add Room<% } %>
                                        </button>
                            </form>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>